[Desktop Entry]
Name=Shelf
Name[ast]=Estante
Name[ca]=Shelf
Name[ca@valencia]=Shelf
Name[cs]=Shelf
Name[en_GB]=Shelf
Name[es]=Shelf
Name[fi]=Shelf
Name[fr]=Shelf
Name[hu]=Shelf
Name[it]=Shelf
Name[nl]=Shelf
Name[nn]=Shelf
Name[pl]=Shelf
Name[pt]=Prateleira
Name[pt_BR]=Shelf
Name[sk]=Shelf
Name[sl]=Shelf
Name[sv]=Shelf
Name[uk]=Shelf
Name[x-test]=xxShelfxx
TryExec=shelf
Exec=shelf %U
Terminal=false
Type=Application
Categories=Qt;KDE;Graphics;Office;Viewer;
GenericName=Document Viewer
GenericName[ast]=Visor de documentos
GenericName[ca]=Visor de documents
GenericName[ca@valencia]=Visor de documents
GenericName[cs]=Prohlížeč dokumentů
GenericName[en_GB]=Document Viewer
GenericName[es]=Visor de documentos
GenericName[fi]=Asiakirjakatselin
GenericName[fr]=Afficheur de documents
GenericName[hu]=Dokumentummegjelenítő
GenericName[it]=Visore di documenti
GenericName[nl]=Documentenviewer
GenericName[nn]=Dokumentvisar
GenericName[pl]=Przeglądarka dokumentów
GenericName[pt]=Visualizador de Documentos
GenericName[pt_BR]=Visualizador de documentos
GenericName[sk]=Prehliadač dokumentov
GenericName[sl]=Pregledovalnik dokumentov
GenericName[sv]=Dokumentvisare
GenericName[uk]=Переглядач документів
GenericName[x-test]=xxDocument Viewerxx
StartupNotify=true
Icon=shelf
MimeType=application/x-pdf;application/pdf;application/x-gzpdf;application/x-bzpdf;application/x-wwf;
